/*------------------------mobile------------------------------------*/

.main-content .banner
{
	left: 0px;
	width: 100%;
	z-index: 0;
	display: block;
}

.main-content .banner img
{
	height: 180px;
	width: 100%;
	position: relative;
}

.main-content .text-banner {
	position:absolute;
	top: 200px;
	left: 45px;

}

.main-content .text-banner h2 {
	font-family: sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 3em;
	color: #fff;
}

/* content */
.main-content #content {
	padding-left: 10%;
	margin-top: 20px;
}

.main-content .content-left a {
	color: #B13279;
}

.main-content .content-left a:hover {
	color: #7C1457;
}

.main-content #content .content-left
{
	width: 70%;
}

.main-content #content .content-left h3
{
	font-family:sans-serif;
	font-style:normal;
	font-weight:700;
	padding:0px 0 0px 0;
	margin:0 0 20px 0;
	font-size:2.8em;
	line-height:1.2em;
	color:#323232;
}

.main-content #content .content-left p
{
	font-size: 1.6em;
	font-style:normal;
	font-family: sans-serif;
	font-weight: 400;
	line-height: 1.4em;
	color: #3A3A3A;
	padding:0px 0px 0px 0px;
	margin:0 0 12px 0;
	text-indent:0px;
}

.main-content .content-item {
	width:240px;
	height:208px;
	position:relative;

}

.main-content .overlay {
    background: none repeat scroll 0 0 #000000;
    height: 208px;
    opacity: 0.3;
    position: absolute;
    width: 240px;
}
.main-content .title {
	position:absolute;
	font-size:200%;
	width:100%;
	top:43%;
}
.main-content .title a {
	color:#FFF;
}

.main-content .details {
	opacity: 0;
	position:absolute;
    top: 55px;
    text-align: center;
    width: 300px;
}
.main-content .details a {
	color: #FFFFFF;
	font-size: 16px;
	line-height:30px;
}
.main-content .action {
	opacity: 0;
	text-align: center;
    text-transform: uppercase;
	position:absolute;
	top:180px;
	left:65px;
}

.main-content .action a {
	background: none repeat scroll 0 0 #B13279;
	padding: 12px 20px;
	font-size: 12px;
	color:#FFF;
}
/* for ourteams page*/
#content ul{
	margin:0 0 7px 0px;
}
#content ul li {
	list-style: none;
	background: url(../img/icon_bullet-arrow.gif) no-repeat 0 6px;
	padding: 0 0 5px 15px;
	margin-top: 0;
	font-size: 1.4em;
	line-height: 1.4em;
	color: #474747;
}
/**/


@media screen and (min-width: 476px) {

/* content */

.main-content #content {
	padding-left: 15%;
}

.main-content #content .content-item {
	width:300px;
	height:260px;
}

.main-content #content .overlay {
    height: 260px;
    width: 300px;
}

.main-content #content .title {
	left: 10%;
}

.main-content #content .details {
	opacity: 1;
}

.main-content #content .action {
	opacity: 1;
}

.main-content #content #action-learnmore {
	left: 90px;
}

.main-content #content .action a {
	background: none repeat scroll 0 0 #B13279;
	padding: 12px 20px;
	font-size: 12px;
	color:#FFF;
}

}

/*------------------------for ipad------------------------------------*/
@media screen and (min-width: 712px ) {
 
.main-content .banner img{
	height:420px;
}

.main-content .text-banner {
	top: 400px;
}

.main-content .text-banner h2 {
	font-size: 5em;
	top: -100px;
}

.main-content #content {
	padding:0;
}

.main-content #content .content-left
{
	width: 55%;
	float: left;
}

.main-content #content .content-right
{
	float: right;
}

}

/*------------------------------for desktop------------------------------*/

@media screen and (min-width: 1009px ) {

.main-content .text-banner h2 {
	font-size: 5.8em;
	left: 0;
}
}

