* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, Verdana, sans-serif;
	font-size: 62.5%;
	color: #3A3A3A;
	background:#fff;

 }
 a{
 	text-decoration: none;
 }

 img {
	max-width: 100%;
}

.hide {
	display: none;
}

.wrapper {
	width: 440px;
	padding: 0 20px;
}

#container {
	width: 100%;
	background: #fff;
	min-height:100%;
	height: auto;
	position: relative;
	margin: 0 auto;

}

#header {
	float: left;
	width: 100%;
	padding: 20px 0 0 0;
	position: fixed;
	background: #fff;
	z-index: 900;
}
#header.wrapper {
	width: 100%;
	padding:0;
}	

#logo  {
	width: 100%;
	border: 0;
}

#logo a {
	display: block;
	float: none;
	margin: 0px 0 22px 15px;
	padding: 0px 0 0px 0px;
	width:213px;
	height: 31px;
}

.menu-toggle {
	-webkit-transform: translate3d(0, 0, 0);
	top: 25px;
	right: 4%;
	position: absolute;
	display: block;
	background: url(../img/icon_menu_toggle.gif) no-repeat top left;
	width: 20px;
	height: 17px;
	text-indent: -9999px;
	cursor: pointer;
}

.navigation {
	position: relative;
	font-style: normal;
	float: none;
	width: 100%;
	margin: 0 0 0 0;

}

.navigation >ul
{
	margin: 0 auto;
	width: 100%;
	padding: 0;
	list-style: none;
}

.navigation li {

	list-style-type: none;
}

.navigation ul >li.top-menu {
	position: relative;
	border-bottom: 1px dashed #828282;
	z-index: 9999;
	padding: 15px;
}

.navigation ul li.top-menu >a{
	width: 92%;
	padding: 14px 4%;
	color:  #505050;
	text-decoration: none;
	font-style: normal;
	font-size: 1.5em;
	margin: 0;
	top: 18px;
}

.navigation li.top-menu:last-child a{
	color: #B13279;
}

.navigation li.top-menu:hover>a{
	color: #71C2F5;
}

.navigation li.top-menu:last-child:hover a {
	color:#46423C;
}

.navigation li.top-menu ul {
	margin-top: 10px;
	display: none;
	position: relative;
	width: 100%;
	padding: 0;
	top: 0;

}

.navigation li.top-menu ul li {
	height: 35px;
}

.navigation li.top-menu ul li a {
	color: #808082 ;
	font-size: 1.4em;
	padding:9px 10% 9px 40px;
	background:url(../img/icon_menu-arrow-right.gif) no-repeat 25px center;
}

.navigation li.top-menu ul li a:hover{
	color: #71C2F5;
}

/* footer */
#footer {
	position: relative;
	width: 100%;
	height: 150px;
	margin-top: 25px;
	background: #282828;
}

/* footer left*/

#footer .left ul {
	list-style: none;
	padding:20px;
}

#footer .left ul li {
	float: left;
	margin-right: 22px;
	background:0;
}

#footer .left ul li a {
	float: left;
	font-size: 1.4em;
	font-weight: 400;
	padding-top: 2px;
	color: #5FC8DB;
}

#footer .left ul li:hover a{
	color: white;
}

#footer .left ul li.social-media{
	margin-right:8px;	
}

#footer .left ul li.facebook {
	margin-left: 7px;
}

#footer .left ul li.social-media a {
	float: left;
	width: 23px;
	height: 23px;
	background: url(../img/icon_social-media.gif) no-repeat top left;
	padding: 0;
	text-indent: -9999px;
}

#footer .left ul li.facebook a:hover{
	background-position: 0 -23px;	
}

#footer .left ul li.twitter a {
	background-position: -32px 0;
}
#footer .left ul li.twitter a:hover{
	background-position: -32px -23px;
}
/*footer right*/
#footer .right {	
	margin: 34px 0 0 10px;
	width: 200px;
}

#footer .right p{
	float: right;
	font-size: 1.4em;
	color: #808082;
}

#footer .right strong {
	color: white;
	letter-spacing: 0.08em;
}
/* footer copyright */
#footer p.copyright {
	position: absolute;
	left: 38px;
	bottom: 15px;
	font-size: 1.3em;
	color: #6D6E71;
	font-style: normal;
	font-family: sans-serif;
	font-weight: 300;
}
#footer p.copyright a {
	color: #5FC8DB;
}

/*------------------------for ipad------------------------------------*/
@media screen and (min-width: 712px ) {
#header .wrapper {
	width: 100%;
	padding: 0;
}

.wrapper {
	width: 672px;
	margin: auto;
	padding: 0;
}

#logo  {
	width: 100%;
	border-bottom: dashed 1px #828282;

}
#logo a {
	margin: 0 auto 18px;
	width: 269px;
	height: 39px
}
.menu-toggle {
	display: none;
}

.navigation {
	display: block !important;
}

.navigation ul
{
	width: 620px;
} 

.navigation ul >li.top-menu {
	float: left;
	position: relative;
	height:54px;
	border-bottom: 0;
	padding: 0;

}
.navigation ul li.top-menu >a{
	float: left;
	display: block;
	padding: 15px 26px 22px;
	width: 100%;
	top:0;
}

.navigation li.top-menu ul{
	position:absolute;
    background:transparent;
    padding: 3px;
    top:100%;
    width: 750px;
	left: -400px;
	z-index: 999;
	margin-top: 0;
	display: none;
}
.navigation ul ul.service {
	left: -490px;
}

/*.navigation > ul > li.top-menu:hover > ul {  display: block;}*/

.navigation ul li ul >li{
	float: left;
	padding: 10px;
}

.navigation ul li ul.about li{
	position: relative;
	float: left;
	left: 400px;
}

.navigation ul li ul.service li{
	position: relative;
	float: left;
	left: 450px;
}

.navigation li.top-menu ul li {
	height: 0;
}

.navigation li.top-menu ul li a {
	padding: 4px 17px 0 3px;
	border-right: 1px solid #747171;
	background: 0;

}
.navigation ul li ul li:last-child a {
	border-right: 0px;
}

.navigation li .icon-menu {
	position:absolute;
	background: url(../img/icon_menu-arrow.gif) no-repeat top center;
	left: 42px;
	bottom: 10px;
	margin: 0 auto;
	height: 6px;
	width: 10px;
	display: none;

}
.navigation li:hover .icon-menu { display: block;}

.navigation ul li ul li:hover >a{
	color: white ;
}

.sub-background {
	position: absolute;
	width: 100%;
	background: black;
	display: none;
	opacity: 0.9;
	height: 42px;
	top:100%;
}


/* slide show*/
.slides-overlay {
	position: absolute;
	width: 100%;
	background: black;
	display: none;
	opacity: 0.4;
	height: 420px;
	top:132px;
	z-index: 860;
}

#footer .left {
	float: left;
}

#footer .right {	
	float: right;
	margin:27px;
}

}

/*------------------------------for desktop------------------------------*/
@media screen and (min-width: 1009px ) {

#header .wrapper {
	width: 950px;
}
.wrapper {
	position: relative;
	margin: 0 auto;
	width: 950px;
	padding: 0;
}

#logo {
	width: 293px;
	border-bottom: 0;
}	
#logo a {
	float: left;
	display: inline;
	margin: 0px 0 0px 0px;
	padding: 0px 0 0px 0px;
}

.navigation {
	width: 488px;
	float: right;
	left: 3%;
}

.navigation ul {
	display: inline;
}

.navigation ul li.top-menu >a{
	padding: 16px;
}
.navigation li.top-menu ul {
	left: -550px;
}

.navigation li:hover .icon-menu { display: block;}

.navigation ul li ul li:hover a{
	color: white !important;
}

.slides-overlay {
	position: absolute;
	width: 100%;
	background: black;
	display: none;
	opacity: 0.4;
	height: 419px;
	top:74px;
	z-index: 100;
}

.navigation li .icon-menu {
	left: 33px;
}

#footer p.copyright {
	bottom: -130px;
}

}

