/*------------------------mobile------------------------------------*/

#content .content-left p:last-child {
	padding-bottom: 10px;
	border-bottom: dashed 1px #828282;
}

#content fieldset{
	border:0;
}

#content label{
	width:100%;
	display:block;
	line-height:1.9em;
	font-size:1.4em;
	font-weight:400;
	margin:0px 0px 6px 0px;
}

#content .group input{
	display:block;
	font-size:1.4em;
	line-height:1.5em;
	color:#414042;
	font-style:normal;
	font-weight:400;
	width:240px;
	height:30px;
	padding:5px 0px 0px 0px;
	border:solid 1px #C6C6C6;
	margin:0px 0px 15px 0px;
	box-shadow:inset 0px 1px 3px rgba(147, 147, 147, 0.5);
}

#content textarea{
	width: 240px;
	display:block;
	color:#414042;
	font-style:normal;
	font-weight:400;
	padding:5px 0px 0px 0px;
	border:solid 1px #C6C6C6;
	margin:0px 0px 50px 0px;
	box-shadow:inset 0px 1px 3px rgba(147, 147, 147, 0.5);
	font-family:monospace;
}

#content .button{
	float:left;
	font-style:normal;
	font-weight:700;
	font-size:1em;
	color:#fff;
	background:#5FC8DB;
	text-transform:uppercase;
	padding:10px;
	border:0;
	letter-spacing:0.08em;
	text-shadow:1px 1px 1px rgba(0, 0, 0, 0.08);
	text-align:center;
	cursor:pointer;
}

@media screen and (min-width: 476px) {

#content .group input{
	width:300px;
}

#content textarea{
	width: 350px;
}

#content .button{
	font-size:1.2em;
}


}

/*------------------------for ipad------------------------------------*/
@media screen and (min-width: 712px ) {


#content .content-left p:last-child {
	width: 50%;
}

#content #form
{
	margin:40px auto;
	padding:0;
	font-size:100%;
}

#content textarea{
	font-size:1.9em;
	width:460px;
	height:125px;
}


}

/*------------------------------for desktop------------------------------*/

@media screen and (min-width: 1009px ) {

#content .content-left p:last-child {
	width: 100%;
}

}
